@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif !important;
}
p,
h1,
h2,
h3,
h4,
label,
textarea {
  font-family: "Source Sans Pro", sans-serif !important;
}
.mdl-layout__header-row {
  height: 40px !important;
}
.header-color {
  background: #ff0000; /*
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
  background: linear-gradient(to right, #0f3443, #34e89e); 
  background: #00416A;  
  background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  
  background: linear-gradient(to left, #E4E5E6, #00416A);  
  background-image: url(pics/back.svg);*/
}
body {
  color: white !important;
}
.landing {
  /*background: #403A3E;  
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
  background: linear-gradient(to right, #0f3443, #34e89e); */
  /*background: #00416a;
  background: -webkit-linear-gradient(
    to right,
    #e4e5e6,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to left, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-image: url(pics/polye.jpg);/* background by SVGBackgrounds.com */
  /* background-position: center;
  background-attachment: fixed;
  background-size: auto;*/

  /*text-align: center;*/
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /*padding-bottom: 140px !important;*/
  /*padding-top: 25px !important;*/
}
.mdl-layout__inner-container {
  -webkit-overflow-scrolling: auto !important;
  overflow-y: hidden !important;
}
.mdl-layout__header {
  min-height: 40px !important;
  max-height: 40px !important;
  z-index: 0 !important;
  background: black !important;
}
.avatar {
  height: 350px;
  width: 350px;
  padding: 5em;
}
.banner-text {
  /* background: #00D7D7;*/
  /*background: #3dda84;*/
  width: 100%;
  margin: auto;
  /*-webkit-box-shadow: 20px 10px 40px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 10px 40px 0px rgba(0,0,0,0.75);
  box-shadow: 20px 10px 40px 0px rgba(0,0,0,0.75);*/
  padding: 300px 50px 360px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*background-image: url(pics/polye.jpg); /* background by SVGBackgrounds.com */
  /*background-position: center;
  background-attachment: fixed;
  background-size: auto;*/
  background-color: black !important;
}
.banner-text h1 {
  font-size: 86px;
  font-weight: bold;
  /* color:black;*/
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: black;
  font-size: 20px;
  padding: 1em;
}
.line {
  font-size: 50px;
  /*margin:40px 0px 40px 0px;*/
  width: 80%;
}
.line > span {
  color: #e22837;
}
.Social-link {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin-right: 90px;
}
.Social-link i {
  color: white !important;
  font-size: 5em;
  padding: 8px;
}
.about {
  /*margin-top:220px;*/
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  /* position: relative;*/
  /*padding-bottom: 20px;*/
  /*opacity:.9;*/
  padding: 180px 0 180px 0 !important;
}
.aboutsocial,
.footersocial {
  display: flex;
  flex-direction: row !important;
}
.aboutleft {
  margin: 60px 200px;
  text-align: left;
}
.aboutleft > p {
  font-size: 24px;
}
.languages,
.devtools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footersocial {
  width: 100%;
  justify-content: center;
}
.devtools {
  padding-bottom: 30px;
}
.lang {
  flex-basis: 4.5rem;
  margin: 12px;
}
h4 {
  padding: 0;
  margin: 0;
}
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  /*opacity:.9;*/
  padding: 30px 0px;
  background: white;
}
.projects-grid > h1 {
  flex: 0 0 100%;
  color: white;
  padding-bottom: 30px;
  /*opacity:.9;*/
}
.mdl-card {
  width: 930px !important;
  height: 540px !important;
  /*background:#00D7D7!important;*/
  background: #3dda84 !important;
  margin-bottom: 38px !important;
}
.link {
  color: white;
  text-decoration: none;
}
.link > h4 {
  margin-top: 450px;
}
.mdl-card__supporting-text {
  color: black !important;
  font-size: 1rem !important;
}
.mdl-layout {
  height: auto !important; /*za skidanje scrolla nav bara*/
}
.card {
  height: 800px;
  color: #fff;
  text-shadow: 1px 1px black;
}
.mdl-card__title-text {
  color: white !important;
}
.mdl-mini-footer {
  background: black !important; /*
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  background: linear-gradient(to right, #0f3443, #34e89e);
  background-image: url(pics/back.svg);*/
  justify-content: center !important;
  /*padding-top:70px!important;*/
  /*padding: 0px 0px 0px 0px !important;*/
}
.mdl-navigation__link {
  line-height: 20px !important;
}
.mdl-mini-footer__link-list a {
  color: white !important;
  padding: 5px;
  font-size: 14px !important;
}
/*.mdl-mini-footer__link-list{
  padding:!important;
  margin:!important;
}*/
.languagesrow,
.formdiv,
.about {
  background-color: black !important;
  color: white;
  font-size: 18px;
  width: 100%;
  /*-webkit-box-shadow: 20px 10px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 20px 10px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 20px 10px 40px 0px rgba(0, 0, 0, 0.75);*/
  padding: 5px;
}
.languagesrow > h3 {
  opacity: 0.9;
}
.languagesrow > p {
  font-size: 20px;
  padding: 2em;
}
.languagesrow {
  background-color: white !important;
  color: black;
  /*display:flex;*/
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  padding-bottom: 20px;
  color: white !important;
}
a.social:hover {
  transform: translateY(-2px);
}
a.bitbucket {
  color: #2988ff;
}
a.linkedin {
  color: #0e76a8;
}
a.github {
  color: #0e76a8;
}
.formdiv {
  margin: auto;
  padding-bottom: 90px !important;
  height: 460px;
  padding: 5px;
}
.formdiv > p {
  padding-top: 30px;
  font-size: 20px;
  padding: 1em;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 40%;
  padding: 12px;
  border: 0.5px solid white;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: white;
}
textarea {
  height: 120px;
}
input[type="submit"] {
  background-color: #e22837;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 120px;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.project {
  /*background-image: url(pics/back.svg); /* background by SVGBackgrounds.com */
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
  /*background: linear-gradient(to right, #0f3443, #34e89e);*/
  text-align: center;
  background-color: black;
}
.project > p {
  font-size: 20px;
  padding: 1em;
  margin: 0 80px;
}
.h1notop {
  margin-top: 0;
  padding-top: 100px;
}
.containerp {
  padding: 10% 10% 0 10%;
  text-align: justify;
}
.containerpr,
.containerpl {
  display: flex;
  padding: 3.5%;
  align-items: center;
}
.containerpl {
  background-color: white;
}
.leftp,
.rightp {
  text-align: justify;
  margin-right: 100px;
}
.rightp {
  color: black;
}
.leftp > p,
.rightp > p {
  font-size: 20px;
}
.rightp {
  margin-right: 0;
  margin-left: 100px;
}
.img3,
.img4 {
  width: 1450px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 20px 10px 40px 0px rgba(0, 0, 0, 0.75);
}
.img5 {
  width: 750px;
}
.belodugme {
  color: white !important;
}
@media only screen and (max-width: 480px) {
  .mdl-layout__header-row {
    padding: 0 !important;
  }
  .mdl-layout-title {
    font-size: 15px !important;
    display: none !important;
  }
  .mdl-layout-spacer {
    display: none !important;
  }
  .landing {
    background-size: 480px;
  }
  .banner-text {
    padding: 27g0px 50px;
  }

  h1 {
    font-size: 38px !important;
  }
  .line {
    font-size: 24px;
  }
  .Social-link {
    flex-direction: row;
    font-size: 8px;
    margin: auto;
    margin-right: 300px;
  }
  a.social {
    padding-bottom: 10px;
  }

  .projects-grid > h1 {
    font-size: 38px;
  }
  .projects-grid {
    width: 98%;
  }
  .project {
    background-size: 500px;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 80%;
  }
  .project > p {
    margin: auto;
  }
  .about {
    display: block;
    padding: 20px 0px !important;
  }
  .aboutleft {
    margin: 5px;
    text-align: center;
  }
  .aboutsocial {
    display: block;
  }
  .avatar {
    padding: 5px;
    margin: auto;
    width: 420px;
  }
  .containerpr,
  .containerpl {
    display: block;
    padding: 10% 4% 10% 4%;
  }
  .containerp {
    padding: 10% 4%;
  }
  .rightp,
  .leftp {
    margin: 5% 0 5% 0;
  }
  .img3,
  .img4,
  .img5 {
    width: 100%;
    height: 350px;
  }
}
